<h1 class="content-title">{{isUpdate ? 'UPDATE CHANNEL' : 'ADD CHANNEL'}}</h1>
<form class="form-horizontal" role="form" data-ng-init="channel = {}">
  <div class="form-group">
    <label for="inputChannelName" class="col-sm-2 control-label">NAME</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-text-short" id="inputChannelName" data-ng-model="channel.name" placeholder="input channel name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputChannelCode" class="col-sm-2 control-label">NAME</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-text-short" id="inputChannelCode" data-ng-model="channel.code" placeholder="input channel code">
    </div>
  </div>
  <div class="form-group">
    <label for="selectPlatforms" class="col-sm-2 control-label">PLATFORMS</label>
    <div class="col-sm-10">
      <select name="platform" data-ng-model="channel.platform" data-ng-init="channel.platform = platforms[0]">
        <option data-ng-repeat="platform in platforms" data-ng-selected="$first">{{platform}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="reset" class="btn btn-default" value="重置">
        <input type="submit" class="btn btn-success btn-longer" data-ng-click="create()" value="添加" data-ng-hide="isUpdate">
        <input type="submit" class="btn btn-primary btn-longer" data-ng-click="update()" value="修改" data-ng-show="isUpdate">
    </div>
  </div>
</form>