<h1 class="content-title">{{isUpdate ? 'UPDATE VERSION' : 'ADD VERSION'}}</h1>
<form class="form-horizontal" role="form" data-ng-init="version = {}">
  <div class="form-group">
    <label for="inputVersionName" class="col-sm-2 control-label">NAME</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-text-short" id="inputVersionName" data-ng-model="version.name" placeholder="input version name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputVersionCode" class="col-sm-2 control-label">NAME</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-text-short" id="inputVersionCode" data-ng-model="version.code" placeholder="input version code">
    </div>
  </div>
  <div class="form-group">
    <label for="selectPlatforms" class="col-sm-2 control-label">PLATFORMS</label>
    <div class="col-sm-10">
      <select name="platform" data-ng-model="version.platform" data-ng-init="version.platform = platforms[0]">
        <option data-ng-repeat="platform in platforms" data-ng-selected="$first">{{platform}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="reset" class="btn btn-default" value="重置">
        <input type="submit" class="btn btn-success btn-longer" data-ng-click="create()" value="添加" data-ng-hide="isUpdate">
        <input type="submit" class="btn btn-primary btn-longer" data-ng-click="update()" value="修改" data-ng-show="isUpdate">
    </div>
  </div>
</form>