<h1 class="content-title">APP LIST</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PLATFORMS</th>
      <th>VALIDATE</th>
      <th>FORBIDDEN</th>
      <th>CREATE AT</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="app in appList">
      <td>{{app.id}}</td>
      <td>{{app.name}}</td>
      <td>{{app.platforms}}</td>
      <td>{{app.validate}}</td>
      <td>{{app.forbidden}}</td>
      <td>{{app.created | date: DATE_DEFAULT}}</td>
      <td>
        <a href="#/apps/{{app.id}}" class="btn btn-info">查看</a>
        <a href="" data-ng-click="deleteApp(app.id, $index)" class="btn btn-danger">删除</a>
      </td>
    </tr>
  </tbody>
</table>