<h1 class="content-title">APP DETAILS</h1>
<table class="table table-hover">
  <tr>
    <td>ID</td>
    <td>{{app.id}}</td>
  </tr>
  <tr>
    <td>NAME</td>
    <td>{{app.name}}</td>
  </tr>
  <tr>
    <td>PLATFORMS</td>
    <td>
      <i class="icon ion-social-android" data-ng-hide="app.platforms.indexOf('android') < 0"></i>
      <!-- <span class="icon-divider" data-ng-show="app.platforms.length > 1"> | </span> -->
      <i class="icon ion-social-apple" data-ng-hide="app.platforms.indexOf('ios') < 0"></i>
    </td>
  </tr>
  <tr>
    <td>PATH</td>
    <td>{{app.prj_path}}</td>
  </tr>
  <tr>
    <td>FORBIDDEN</td>
    <td>
      <i class="ion-checkmark-round icon icon-green" data-ng-hide="app.forbidden"></i>
      <i class="ion-close-round icon icon-red" data-ng-show="app.forbidden"></i>
    </td>
  </tr>
  <tr>
    <td>CREATED</td>
    <td>{{app.created | date : DATE_DEFAULT}}</td>
  </tr>
  <tr>
    <td>VERSION</td>
    <td>
      <a href="#/apps/{{app.id}}/add-version?platforms={{app.platforms}}">添加版本</a>
      <hr data-ng-show="versions">
      <table class="table table-hover" data-ng-show ="versions" data-ng-init="foldVersion = true">
        <thead>
          <tr>
            <th>ID</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>PLATFORM</th>
            <th>GIT INDEX</th>
            <th>GIT TAG</th>
            <th>CREATED</th>
            <th>UPDATED</th>
            <th class="app-actions">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="version in versions" data-ng-show="$first || !foldVersion"> 
            <td>{{version.id | limitTo : HASH_LENGTH_DEFAULT}}</td>
            <td>{{version.code}}</td>
            <td>{{version.name}}</td>
            <td>
              <i class="icon ion-social-android" data-ng-show="version.platform === 'android'"></i>
              <!-- {{version.platform}} -->
              <i class="icon ion-social-apple" data-ng-show="version.platform === 'ios'"></i>
            </td>
            <td>{{version.git_index | limitTo : HASH_LENGTH_DEFAULT}}</td>
            <td>{{version.git_tag}}</td>
            <td>{{version.created | date : DATE_DEFAULT}}</td>
            <td>{{version.updated | date : DATE_DEFAULT}}</td>
            <td class="app-actions">
              <a href="#/apps/{{app.id}}/update-version/{{version.id}}?platforms={{app.platforms}}&isUpdate=true">修改<a> | 
              <a data-ng-click="deleteVersion(version.id, $index)">删除<a>
            </td>
          </tr>
          <tr>
            <td colspan="9" data-ng-show="versions.length > 1" data-ng-click="foldVersion = foldVersion ? false : true;" style="text-align:center;">
              <i class="icon-arrow" data-ng-class="foldVersion ?  'ion-chevron-down' : 'ion-chevron-up'"></i>
              <span>{{foldVersion ? '展开' : '折叠'}} &nbsp;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>CHANNEL</td>
    <td>
      <a href="#/apps/{{app.id}}/add-channel?platforms={{app.platforms}}">添加渠道</a>
      <hr data-ng-show ="channels">
      <table class="table table-hover" data-ng-show ="channels" data-ng-init="foldChannel = true">
        <thead>
          <tr>
            <th>ID</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>PLATFORM</th>
            <th>CREATED</th>
            <th>UPDATED</th>
            <th class="app-actions">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="channel in channels" data-ng-show="$first || !foldChannel">
            <td>{{channel.id | limitTo : HASH_LENGTH_DEFAULT}}</td>
            <td>{{channel.code}}</td>
            <td>{{channel.name}}</td>
            <td>
              <i class="icon ion-social-android" data-ng-show="channel.platform === 'android'"></i>
              <!-- {{channel.platform}} -->
              <i class="icon ion-social-apple" data-ng-show="channel.platform === 'ios'"></i>
            </td>
            <td>{{channel.created | date : DATE_DEFAULT}}</td>
            <td>{{channel.updated | date : DATE_DEFAULT}}</td>
            <td class="app-actions">
              <a href="#/apps/{{app.id}}/update-channel/{{channel.id}}?platforms={{app.platforms}}&isUpdate=true">修改<a> | 
              <a data-ng-click="deleteChannel(channel.id, $index)">删除<a>
            </td>
          </tr>
          <tr>
            <td colspan="9" data-ng-show="versions.length > 1" data-ng-click="foldChannel = foldChannel ? false : true;" style="text-align:center;">
              <i class="icon-arrow" data-ng-class="foldChannel ?  'ion-chevron-down' : 'ion-chevron-up'"></i>
              <span>{{foldChannel ? '展开' : '折叠'}} &nbsp;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<div style="text-align:center;">
  <a class="btn btn-success btn-longer" href="#/apps/{{app.id}}/build-packages">打包</a>
  <a class="btn btn-primary btn-longer" href="#/apps/update/{{app.id}}">修改</a>
  <a class="btn btn-danger btn-longer" data-ng-click="deleteApp(app.id)">删除</a>
</div>