<div>
	<a href="/appbuild/version/list">Version List</a>
</div>
<div>
	<a href="/appbuild/channel/list">Channel List</a>
</div>
<div>
	<a href="/appbuild/version/add">Add Version</a>
</div>
<div>
	<a href="/appbuild/channel/add">Add Channel</a>
</div>
