<form action="/appbuild/channel/add/submit" method="Post">
	
	<p>Channel Name: <input type="text" name="channel_name" /></p>

	<p>Channel Code: <input type="text" name="channel_code" /></p>

	<input type="submit" value="Submit" />

</form>
